h1 About Chloris (<em>Khlor-REESE</em>)

img.left(src="images/about.jpg")

p
  | Chloris Floral is a flower design studio in
  | <a href="http://en.wikipedia.org/wiki/Sonoma_County,_California">Sonoma
  | County</a> committed to using 100% local and seasonal blooms grown using
  | organic practices.  By supporting and building upon the strength of
  | our farming community we ensure the availability of the
  | fresh, locally grown blooms necessary to create our achingly
  | beautiful old world designs.

p
  | We are proud to be a member of <a href="http://slowflowers.com/">Slow
  | Flowers</a> and <a href="http://www.ascfg.org/">The Association of
  | Specialty Cut Flower Growers</a> and to have our work recently featured
  | in Martha Stewart Weddings.

h1 Our Farm Community

img.right(src="images/betany_and_lenny.jpg")

p
  | We treasure our relationships with local flower farmers and
  | support the ever important and growing local flower movement.  To
  | build stronger local communities and economies, we are devoted to
  | seeking out the freshest and most beautiful seasonal blooms that only
  | local flower growers can provide.

p
  | We cannot stress enough the importance of choosing locally
  | grown flowers over imports.  Currently about 80% of flowers sold in
  | the US are imported and often sprayed or dipped in poisonous chemicals
  | so that they may survive the long trip to our homes.  If this weren't
  | reason enough to choose the unparalleled quality of farm fresh flowers
  | we would still miss the romanticism of time spent in the field
  | surrounded by the elegance of nature and the process of coaxing
  | exquisite beauty into a vase.

p
  | Some of our favorite local growers include:
  | <a href="http://chicabloomfarm.com/">Chica Bloom Farm</a>,
  | <a href="http://b-sidefarm.com">B-Side Flower Farm</a>,
  | <a href="http://heidrunmeadery.com/">Heidrun Meadery</a>,
  | <a href="http://firstlightcsa.com/">First Light Farm</a>,
  | <a href="http://fullbloomgraton.com/">Full Bloom Flower Farm</a>,
  | <a href="http://openfieldfarm.com/">Open Field Farm</a>,
  | <a href="http://www.strongarmfarm.com/">Strong Arm Farm</a> &
  | <a href="http://twinpalmsranch.wordpress.com/">Twin Palms Ranch</a>.

h1 Owner Betany Coffland

.left
  img(src="images/betany.jpg")
  .caption photo by <a href="http://www.paigegreen.com/">Paige Green</a>.
p
  | I've always had an artistic soul and my first career lies in
  | singing opera where I trained at the
  | <a href="http://www.juilliard.edu/">Juilliard School of Music</a>.
  | Often gifted with an armload of bouquets on opening night, I frequently
  | imagine myself in a Jane Austen novel and many people throughout the
  | years have commented that I'm an anachronism itself.  

p
  | After moving to Sonoma County and reading the book,
  | <em><a href="http://www.amazon.com/dp/1416551611/">The Dirty Life</a></em>
  | I was inspired to volunteer at a local flower farm to see
  | if I would enjoy getting dirt under my nails and having the outdoors
  | as my office.  I swiftly and deeply fell entranced with how stunning
  | and heartbreakingly gorgeous locally grown flowers are.  For the next
  | year and half, I co-owned <a href="http://www.chicabloomfarm.com/">Chica
  | Bloom Farm</a> acting as the lead designer and wedding coordinator.  I
  | especially loved getting to know my community through delivering weekly
  | <a href="#csa">flower CSA</a> bouquets.

p
  | In the winter of 2014, I launched Chloris Floral.  The namesake
  | Chloris perfectly combines my two artistic endeavors, classical
  | singing and floral design.  Not only is Chloris the Greek goddess of
  | flowers, she is also the heroine of my favorite French art song,
  | <a href="http://en.wikipedia.org/wiki/%C3%80_Chloris"><em>A
  | Chloris</em> by Reynaldo Hahn</a>.  This song has special meaning to me
  | because it was performed by a dear friend of mine at my wedding.  Now
  | part of my repertoire, I continue to perform <em>A Chloris</em>.  You can
  | hear a recent recording of me at the Firehouse Center for the Arts in
  | Boston, <a href="https://www.youtube.com/watch?v=xw8IN97J1zo">here</a>.
