.right
  img(src="images/contact.jpg")
  .caption photo by Chloris Floral

h1 Contact Info

table
  tr
    th Phone:
    td (208) 409-6992
  tr
    th Email:
    td
      a(href="mailto:info@chlorisfloral.com")
        | info@chlorisfloral.com
