h1 CSA Bouquet Program

p
  | We offer a weekly flower delivery to businesses and individuals
  | located in Sonoma County through our CSA or Community Supported
  | Agriculture program.  Flowers and foliage are often harvested that
  | same morning and brought to you straight from the farm to ensure
  | high quality and freshness.

p
  | If you are interested in becoming a part of our CSA community,
  | please email
  | <a href="mailto:info@chlorisfloral.com">info@chlorisfloral.com</a>.
