h1 Weddings and Events

p
  | We design arrangements for weddings, special events and single
  | orders using exclusively local and seasonal flowers from local
  | flower farms.

p
  | We deliver to Sonoma, Napa and Marin counties.

p
  | To inquire about flowers, contact  us at <tt>(208) 409-6992</tt> or email:
  | <a href="mailto:info@chlorisfloral.com">info@chlorisfloral.com</a>.
