page_width = 40em
anchor_offset = 320px

green_hl = #b2a97c
dark_green_hl = #8F8864
pink_hl = #fbd7c8
red_hl = #925c53

link_color = red_hl
text_color = red_hl
header_bg = #f9eed8
bg_color = #f9eed8
page_bg = #f9f7f1
page_color = #864b43

border = 1px solid #e5dbc7

body
  overflow-y: scroll !important
  font-family: 'Josefin Sans'

a, a:visited
  color: link_color
  font-weight bold
  text-decoration: none

a:hover
  transition: 0.5s
  text-decoration: underline

img
  vertical-align: middle

#background
  position: fixed
  top: -50%
  left: -50%
  width: 200%
  height: 200%

  img
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    min-width: 50%
    min-height: 50%
    opacity: 0.8

#content
  color: text_color
  text-align: center
  max-width: page_width
  margin: 4em auto
  position: relative
  border: border
  border-radius: 3px

#header
  background-color: header_bg
  padding-bottom: 5px
  broder-top-left-radius: 3px
  broder-top-right-radius: 3px
  border-bottom: border

  > a > img
    margin: 1em
    width: 400px

  .social
    position: absolute
    right: 0

    a
      margin: 5px
      display: inline-block
      color: white
      background-color: #b2a97c

      font-size: 26px
      border-radius: 12px
      width: 32px
      height: 32px
      line-height: 36px
      padding: 2px

      &:hover
        background-color: red_hl

#menu
  font-size: 110%

  a, a:visited
    color: red_hl

  ul
    margin: 0
    padding: 0

  li
    list-style: none
    display: inline-block
    margin: 0 0.75em
    text-transform: uppercase

#pages
  background-color: page_bg

  h1, h2, h3
    font-weight: normal
    font-family: 'Josefin Sans'

  img
    border-radius: 3px

  img.left
    float: left
    margin-right: 1em

  img.right
    float: right
    margin-left: 1em

  > div
    padding: 0.25em 1em 1em 1em
    min-height: 300px
    text-align: left
    color: page_color

  > #about-page img
    width: 200px

  > #home-page
    font-size: 170%
    font-family: 'Special Elite'
    color: red_hl
    text-align: center
    min-height: initial
    height: auto !important
    padding: 1.25em
    background-color: header_bg

#gallery
  img
    border-radius: 0

  .nanoGalleryThumbnailContainer
    background-color: transparent
    border-width: 2px
    border-color: transparent

    &:hover
      border-color: #444

  .labelImage
    padding: 0
    margin: 0
    margin-top: -1px

  .labelImageTitle
    display: none

  .labelDescription
    line-height: 1.5em
    padding: 0 5px
    margin: 0

#contact
  th, td
    padding: 0.5em
    font-size: 120%

  th
    text-align: right

#footer
  border-top: border
  padding: 0.5em
  background-color: header_bg
  font-size: 80%
