page_width = 40em

green_hl = #b2a97c
dark_green_hl = #8F8864
pink_hl = #fbd7c8
red_hl = #925c53

link_fg = red_hl
text_fg = red_hl
header_bg = #f9eed8
page_bg = #f9f7f1
page_fg = #864b43
social_bg = green_hl

border = 1px solid #e5dbc7

body
  overflow-y: scroll !important
  font-family: 'Josefin Sans'

a, a:visited
  color: link_fg
  font-weight bold
  text-decoration: none

a:hover
  transition: 0.5s
  text-decoration: underline

img
  vertical-align: middle

#background
  position: fixed
  top: -50%
  left: -50%
  width: 200%
  height: 200%

  img
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    min-width: 50%
    min-height: 50%
    opacity: 0.8

#content
  color: text_fg
  text-align: center
  max-width: page_width
  margin: 4em auto
  position: relative
  border: border
  border-radius: 3px

#header
  background-color: header_bg
  padding-bottom: 5px
  broder-top-left-radius: 3px
  broder-top-right-radius: 3px
  border-bottom: border

  > a
    outline: none

  > a > img
    margin: 1em
    max-width: 400px
    outline: none

  .social
    position: absolute
    right: 0

    a
      margin: 5px
      display: inline-block
      color: white
      background-color: social_bg

      font-size: 26px
      border-radius: 12px
      width: 32px
      height: 32px
      line-height: 36px
      padding: 2px

      &:hover
        background-color: red_hl

#menu
  font-size: 95%

  a, a:visited
    color: red_hl

  ul
    margin: 0
    padding: 0

  li
    list-style: none
    display: inline-block
    margin: 0 0.5em
    text-transform: uppercasefine woodworking

#pages
  background-color: page_bg

  h1, h2, h3
    font-weight: normal
    font-family: 'Josefin Sans'
    clear left

  img
    border-radius: 3px

  .clear
    clear: both

  .left
    float: left
    margin-right: 1em

  .right
    float: right
    margin-left: 1em

  .center
    text-align center

  .caption
    font-size 10pt
    padding 4px 0 6px 0
    text-align center

  > div
    padding: 0.25em 1em 1em 1em
    min-height: 300px
    text-align: left
    color: page_fg

  > #home-page
    font-size: 170%
    font-family: 'Special Elite'
    color: red_hl
    text-align: center
    background-color: header_bg
    padding 0

    img
      width 100%
      border-radius 0

    div
      text-align center
      padding 0.75em 0

    .caption
      font-family 'Josefin Sans'


  #csa-page, #events-page, #contact-page
    .right, .left
      padding-top 20px

  #events-page
    min-height 340px

#gallery
  user-select: none

  img
    border-radius: 0

  .nanoGalleryThumbnailContainer
    background-color: transparent
    border-width: 2px
    border-color: transparent

    &:hover
      border-color: #444

  .labelImage
    padding: 0
    margin: 0
    margin-top: -1px

  .labelImageTitle
    display: none

  .labelDescription
    line-height: 1.5em
    padding: 0 5px
    margin: 0

.nanogallery_theme_light .nanoGalleryViewer .closeButtonFloating:after
  font-size: 3.5em

#contact
  th, td
    padding: 0.5em
    font-size: 120%

  th
    text-align: right

#footer
  border-top: border
  padding: 0.5em
  background-color: header_bg
  font-size: 80%
